

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  border-radius: 80%;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
	width: 300px;
	height: 300px;
  border-radius:50%;
	position:relative;
   
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 80%;
  padding-top: 25px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}

body {
  background-color:black;
  color: white;
  position:center
}

.number {
  color:black;     
  font-family:  monospace;
  font-weight: 300;
  font-size: 60px;
}

.controls {
  display: flex;
  width: 187px;
  justify-content: space-between;

}

button {
  cursor: pointer;
  border-radius:30px;
  background:black;
  border-color:green;
 
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}